.login-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
    background: linear-gradient(120deg, black, white);
    border: 2px solid gray;
}
.sign-in{
    text-align: center;
}
.input-field{
    width: 300px;
    padding: 10px;
    margin: 10px 10px;
    position: relative;
}
.input-field .input{
    width: 100%;
    padding: 12px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}
.btnn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: 0.3s;
    border: 1px solid;
}
.btnn1{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: 0.3s;
    border: 1px solid;
}
.btnn:hover{
    background-color: #444;
}

.forgot{
    text-align: center;
    
}
.have-account{
    text-align: center;
    color: blue;
}